.feed-container {
    width: 95%;
    margin: auto;
    opacity: 0;

}

.feed-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.saved-comments-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    opacity: 1;


}


