.form-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 1%;
    background-color: #D3D3D3;
    width: 20%;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}