
.form-container {

    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 1%;
    background-color: #D3D3D3;
    width: 20rem;
    border-radius: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.form-container h1 {
    font-size: 2rem;
    margin-bottom: 8%;
}
